{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
RealTime-ER
{%  endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
{%  endblock %}

{% block content %}

  <div class="wrapper">
    <div class="iphone">
      <div class="power"></div>
      <div class="lock"></div>
      <div class="volume up"></div>
      <div class="volume down"></div>
      <div class="camera"></div>
      <div class="speaker"></div>
      <div class="screen">
        <nav class="navbar navbar-collapsed navbar-light bg-light">
          <style>
            #background {
              width: 100%;
              position: fixed;
              z-index: -99;
              bottom: 0;
              left: 0;
            }

            #background img {
              width: 100%;
              height: auto;
            }

            .navbar-brand,
            .navbar i,
            .navbar .icon-bar {
              color: red !important;
            }
          </style>
          <a class="navbar-brand" href="#">RealTime-ER</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('main.mobile_home') }}"><i class="fa fa-home" aria-hidden="true"></i></i> &nbsp;Home</a></li>
              <li class="nav-item active"><a class="nav-link" href="{{ url_for('main.mobile_login') }}"><i class="fa fa-plus" aria-hidden="true"></i></i> &nbsp;Cerere UPU</a></li>
              <li class="nav-item active"><a class="nav-link" href="{{ url_for('main.mobile_date_pers') }}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;Date personale</a></li>
              <li class="nav-item active"><a class="nav-link" href="#"><i class="fa fa-lock" aria-hidden="true"></i> &nbsp;Schimbare parola</a></li>
              <li class="nav-item active"><a class="nav-link" href="{{ url_for('main.autentificare') }}"><i class="fa fa-power-off" aria-hidden="true"></i> &nbsp;Deconectare</a></li>
            </ul>
      </div>
      </nav>

           <div class="container-fluid">

          <div class="row">
              <div class="col-md-12 col-xs-12">
        <br/><h5 style="color:#1E90FF; font-weight: bold;">Estimari timp asteptare</h5>
              </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <section>
                <form action="" method="post">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: center; color:#1E90FF;">Spital</th>
                                <th style="text-align: center; color:#1E90FF;">Timp (min)</th>
                                <th style="text-align: center; color:#1E90FF;">Cerere</th>
                            </tr>
                        <thead>
                        <tbody>
                    {% for spital in spitale %}
                    <tr>
        <td style="text-align: center;">{{  spital.nume  }}</td>
        <td style="text-align: center;">{{  spital.timp  }}</td>
        <td style="text-align: center;">
            <a class="nav-link" href="{{ url_for('main.mobile_cerere_inreg') }}"><i class="fa fa-plus" aria-hidden="true" style="color:#1E90FF;"></i></a>
        </td>
      </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </form>
            </section>
        </div>
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-3 col-xs-3" style="float:right">

        </div>
    </div>
           </div>

    </div>
    <div class="button">
      <div class="square"></div>
    </div>
  </div>
  </div>

{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{%  endblock %}
