{% extends "base.html" %}

{% block title %}
RealTime-ER
{%  endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
{%  endblock %}

{% block content %}

  <div class="wrapper">
    <div class="iphone">
      <div class="power"></div>
      <div class="lock"></div>
      <div class="volume up"></div>
      <div class="volume down"></div>
      <div class="camera"></div>
      <div class="speaker"></div>
      <div class="screen">
        <nav class="navbar navbar-collapsed navbar-light bg-light">
          <style>
            #background {
              width: 100%;
              position: fixed;
              z-index: -99;
              bottom: 0;
              left: 0;
            }

            #background img {
              width: 100%;
              height: auto;
            }

            .navbar-brand,
            .navbar i,
            .navbar .icon-bar {
              color: red !important;
            }
          </style>
          <a class="navbar-brand" href="#">RealTime-ER</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active"><a class="nav-link" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;Despre noi</a></li>
              <li class="nav-item active"><a class="nav-link" href="#"><i class="fa fa-h-square" aria-hidden="true"></i> &nbsp;Spitale partenere</a></li>
              <li class="nav-item active"><a class="nav-link" href="#"><i class="fa fa-user-md" aria-hidden="true"></i> Medici parteneri</a></li>
              <li class="nav-item active"><a class="nav-link" href="#"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;Contact</a></li>
              <li class="nav-item active"><a class="nav-link" href="{{ url_for('main.mobile_inregistrare') }}"><i class="fa fa-id-card" aria-hidden="true"></i></i> &nbsp;Inregistrare</a></li>
              <li class="nav-item active"><a class="nav-link" href="{{ url_for('main.mobile_login') }}"><i class="fa fa-user" aria-hidden="true"></i></i> &nbsp;Autentificare</a></li>
            </ul>
      </div>
      </nav>
        <div class="bkgnd-image"></div>
    </div>
    <div class="button">
      <div class="square"></div>
    </div>
  </div>
  </div>

{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{%  endblock %}
