.mainBody {
    background-color: white;
    margin: auto;
    width: 74%;
    max-width: 1200px;
    min-width: 444px;
    border: 1px solid #ccc;
    padding: 0.5em;
    position: relative;
}

.iconStyle {
    font-size:40px;
    color:#B22222;
    border: 3px solid #B22222;
    padding: 8px;
    margin: 7px;
}

.liStyle li:before {
    content:'|';
    color: #B22222;
}

.liStyle li {
    display:inline-block;
    font-size:25px;
}

.liStyle li a {
    color: #B22222;
    text-decoration: underline;
    text-decoration-color: #B22222;
}

.docs {
    color:#1E90FF;
    texzt-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 3em;
}


.flashes ul {
    margin: 0 0;
    background: #FFD6A3;
    color: #000;

    list-style-type: none;
    list-style: none;
}

/* flashes styling */

.flashes ul{
    background: #FFD6A3;
    color: #000;
}

article.flashes {
    margin-bottom: 1em;
}

/* fix form layout with flashes */
section {
    clear: left;
}

.intra_in_cont {display: inline;}
